{% extends 'app/base.html' %}

{% load static %}

{% block container %}
    <title>Peliculas</title>
    <div class="container">
        {% if user.is_authenticated %}
            <div class="h1 text-center">Peliculas Disponibles</div>

            <div class="d-flex justify-content-center">
                {% for movie in movies %}
                    <div style="border: 1px solid #ddd; padding: 10px; margin: 10px; width: 200px;">
                        <h3>{{ movie.name }}</h3>
                        <p>{{ movie.poster }}</p>
                    </div>
                {% empty %}
                    <p>No hay peliculas disponibles.</p>
                {% endfor %}
            </div>
        {% else %}
            <div class="h1 text-center">No tienes dinero, el capitalismo te ha destrozado.</div>
        {% endif %}
    </div>
{% endblock %}