Django==4.2.*
python-dotenv~=0.21.0
psycopg2-binary==2.9.3
pytest-django==4.5.2
redis==5.2.1
django-crispy-forms==2.3
crispy-bootstrap4==2024.10
stripe==5.5.0
celery==5.3.6
flower==2.0.1
python-decouple
