/* Estilo del navbar */
.navbar {
    background-color: #18613d; /* Color de fondo oscuro */
    padding: 10px 20px;
}

/* Estilo de los enlaces del navbar */
.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar .navbar-brand:hover {
    color: #f8f9fa;
}

/* Estilo de los enlaces en el navbar */
.navbar .nav-link {
    color: #ffffff;
    font-size: 1.1rem;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-link:hover {
    color: #17a2b8; /* Cambia el color al pasar el mouse */
}

/* Estilo del botón hamburguesa en dispositivos móviles */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
    background-color: #ffffff;
}

/* Ajuste de espaciado para que el menú se vea más limpio */
.navbar-nav {
    align-items: center;
}

/* Para hacer el navbar fijo en la parte superior */
.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1030;
}

/* Estilo para el fondo cuando el navbar se expande en móvil */
@media (max-width: 991px) {
    .navbar-nav {
        background-color: #343a40;
        padding: 10px;
        border-radius: 5px;
    }
}
